// =================Main Container====================
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b9dfe0;
  border-radius: 2em;
  // border: 3px solid #4267B2;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#QA-view {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  background: rgb(237, 237, 237);
  justify-content: center;
  align-items: flex-start;
}
* {
  border-radius: .5rem;
}

#QA-view {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  background: #ededed;
  justify-content: center;
  align-items: flex-start;
}

div#inner-QAview {
  display: flex;
  flex: 1;
  width: 80%;
  flex-direction: column;
}

#QA-header {
  display: flex;
  float: left;
  width: 12%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
}
//==================Questions==================
#QA-questions {
  display: flex;
  /* flex-flow: row wrap; */
  /* max-height: 600px; */
  flex: 1 2 45%;
  align-items: stretch;
  /* flex-wrap: wrap; */
  align-content: space-around;
  overflow-x: scroll;
}

#questions-answers {
  /* display: flex; */
  flex-wrap: wrap;
  flex-basis: 20%;
  /* flex: 1; */
  flex-grow: 1;
  margin: 1rem 1rem 1rem 1rem;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* align-content: space-between; */
  /* align-items: stretch; */
  max-height: 600px;
  justify-content: flex-end;
  background-color: #b9dfe0;
  overflow-y: scroll;
  min-width: 20em;
  max-width: 8em;
  box-shadow: -2px 2px 3px #4c82ad;
  /* overflow: scroll; */
  /* overflow-x: unset; */
}


#questions-answers > * {
  flex: 1 1 auto;
  margin: 1rem;
}

p.question {
  font-size: 20px;
  text-decoration: underline;
}

.question-body {
  /* position: relative; */
  display: flex;
  font-size: 1.2em;
  border-bottom: 1px;
  justify-content: space-between;
}

.date {
  font-size: small;
  text-align: right;
}

.question-cards {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
//==================Answers====================

.helpful {
  font-size: small;
}

.answer-input {
  height: 2em;
  border-radius: 0;
  background-color: #b9dfe0;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

//==================Search=====================
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}
.QA-search-bar {
  height: 2em;
  border-radius: 0;
  background-color: #ededed;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

//==================Modal=====================
#modal-main {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 80%;
  height: 65%;
  position: fixed;
  left: 10%;
  top: 10%;
  background: #b9dfe0;
  opacity: .5;
  justify-content: space-between;
}