#rnr {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 50px 0;
  background: #ededed;
  justify-content: center;
  align-items: flex-start;
}

// html {
//   overflow-x: hidden;
// }

#rnr > * {
  display: inline-block;
  background: #ededed;
  margin: 1rem;
}

#rnr button {
  text-decoration: underline;
}
//starComponent---------------------------------------------------------

.starComponent {
  padding: 5px;
}

path {
  fill: #338689
}

//----------------------------------------------------------------------
//ratings overview------------------------------------------------------
#ratingsOverview {
  display: flex;
  flex-flow: column wrap;
  flex: 1 2 auto;
  max-width: 86%;
}

#ratingsOverview h1 {
  float: left;
  margin: 0 1rem 0 1rem;
}

#ratingsOverview > * {
  background: #ececec;
  flex: 1 1 auto;
  padding: 0.5em 0;
  background: #b9dfe0;
  box-shadow: black 6px 8px 10px -15px;
}

//rating Summary-------------------------------------------------
#ratingSummary {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  padding-bottom: 2em;
  background: #ededed;
  box-shadow: none;
}
//ratingBreakdown------------------------------------------------
#ratingBreakdown {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-around;
  border: solid;
  border-radius: 2em 0.5rem 0 0;
  border-top: solid #2c9b9d;
  border-left: solid #2c9b9d;
  border-bottom: none;
  border-right: none;
  padding-top: 2em;
}

#ratingBreakdown::after {
  content: '';
  border-top: solid thin #a7a7a7;
  display: block;
  width: 30%;
  margin: 1.5em auto 0;
}

.ratingBar {
  width: 70%;
}
.backgroundBar {
  background: gray;
  width: 100%;
  height: 5px;
}
//NEED TO MAKE DYNAMIC
.forgroundBar {
  background: green;
  height: 5px;
  position: relative;
  top: -5px
}
//Characteristics ----------------------------------------------
#characteristicList {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-around;
  border-left: solid #2c9b9d;
  border-radius: 0 0 2em 0.5em;
  padding-bottom: 3em;
}

.characteristic > * {
  margin: .25em;
}
.characteristic {
  width: 70%;
}
.characteristic p {
  display: inline-block;
}
.charBar {
  position: relative;
}
.icon {
  position: absolute;
  height: 7px;
  top: -1px;
  width: 7px;
  background: black;
}
.minLabel {
  font-size: .7em;
  float: left;
}
.maxLabel {
  font-size: .7em;
  float: right;
}

//----------------------------------------------------------------------
//Review List----------------------------------------------------------
#reviewPanel {
  display: flex;
  flex-flow: column;
  flex: 1 1 70%;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
}

#reviewPanel > * {
  background: rgb(236, 236, 236);
  flex: 1 1 auto;
  margin: .25rem;
  padding: .65em 0;
  width: 100%;
}

//sort header----------------------------------------------------------
#filters {
  font-size: .7em;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: .5em;
  align-items: center;
}

.filterBtn {
  color: #f1f1f1;
  font-size: 1em;
  font-weight: 600;
  background: #da3939;
  border-radius: .25em;
  padding: .2em;
  display: flex;
  margin: 0 0.5em;
  white-space: pre;
}



#sortHeader {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1 1 4em;
}

#sortHeader:first-child > * {
  margin: .5em;
}

sortHeader::after {
  content: "";
  border-top: solid thin #a7a7a7;
  display: block;
  width: 30%;
  margin: 1em auto 0;
}

//reviewList ----------------------------------------------------------
#reviewList {
  flex: 6 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0;
  width: 90%;
  background: transparent;
}

.review {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  border-left: solid #2c9b9d;
  margin: 0.25em 0;
  padding: 0.25em;
  background: #b9dfe0;
  box-shadow: black 6px 8px 10px -15px;
}

.review > * {
  margin: .4rem .2rem;
}
.reviewContent {
  border-bottom: thin green;
}

.reviewContent > * {
  margin: 0 0 1em 0;
}

.recommended {
  margin: 0;
}
.reviewInfo {
  float: right;
}
.review span {
  white-space: pre;
}
.verification {
  display: inline-block;
  background: green;
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

.reviewHead {
  display: block;
}

.reviewHead:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-top: 15px;
  border-bottom: 1px solid #a7a7a7;
}

#reviewButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  width: 93%;
  padding: 0em;
  margin: 0;
}

#reviewButtons button {
  background-color: rgb(211, 211, 211);
  padding: 1em;
  margin: 1em;
}

#reviewButtons p {
  display: block;
  width: 100%;
  padding: 1rem;
}

.recommended {
  font-size: .8em;
  font-weight: bold;
}

.reviewResponse {
  background: rgb(255, 255, 255);
  padding: .5em;
  border-left: solid green;
}

.feedbackController {
  font-size: .8em;
}

.feedbackController > * {
  margin: 0 .5em;
}

.feedbackController::before {
  content: "";
  display: block;
  margin: 0 auto 1em;
  width: 75%;
  padding-bottom: 2px;
  border-bottom: 1px solid #a7a7a7;
}
.responseTitle {
  font-weight: bold;
}

#addReviewPLS {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#addReviewPLS img {
  display: block;
  margin: 0 auto;
}

//Modals

#outerModal {
  position: fixed;
  z-index: 120;
  height: 100%;
  width: 100%;
  top: 0;
  margin: auto;
  display: inline-block;
  opacity: 1;
  background: none;
  backdrop-filter: blur(6px);
}

#modalWindow {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 80%;
  height: 65%;
  position: fixed;
  left: 10%;
  top: 10%;
  background: #ededed;
  justify-content: space-between;
}

#modalBottom {
  background-image: url(http://localhost:3000/book.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 70%;
  width: 100%;
  top: 65%;
  position: absolute;
}

#modalTop {
  display: flex;
  flex: 1 1 80%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: stretch;
}

#modalTop div {
  border: solid black;
  padding: .5em;
  margin: .25em;
}

#ratingSelectors {
  display: flex;
  flex-flow: column;
  flex: 1 1 5%;
}

#addReviewForm {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 60%;
}

#formContent {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 60%;
}

#formText {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 70%;
}

#formText > * {
  flex: 0 0 10%
}

#formText textarea {
  flex: 1 1 60%;
  background: transparent;
}

div#userInfo {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 1em 0;
  border: none;
}

#formPics {
  display: flex;
  flex-flow: column;
  flex: 1 1 20%;
}

#formFooter {
  display: flex;
  flex: 1 1 10%;
  justify-content: space-evenly;
  font-size: .8em;
}

#formFooter > * {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: black solid;
  padding: .25em;
  flex: 1 1 30%;
}

#picturesSideBar {
  border: solid black;
  flex: 1 1 30%;
}

#addReviewForm input, #addReviewForm textarea {
  border: none;
  border-bottom: solid rgb(83, 83, 83);
  border-radius: 0;
  margin: 0 1em;
  padding: 0;
}

.emptiness > * {
  fill: transparent;
  stroke: black;
}

