
// examples

$primary-color: #B392F8;
$off-white: #F0F0F0;
$charcoal: #101010;

$background-dark: #202124;
$background-light: #fff;

$Roboto-regular: 'Roboto', sans-serif;
$Roboto-light: 'Roboto', sans-serif, 200;

$muted: rgba(0,0,0,.6);

$fb-color: #4267B2;
$twtr-color: #1DA1F2;
$pins-color: #E60023;

$red: #FC0058;

// ====== Reset! ======

* {
  margin: 0;
  padding: 0;
  color: $charcoal;
  font-family: $Roboto-regular;
  // border: 1px red solid;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.prime-color {
  color: $primary-color;
}

::selection {
  background-color: $primary-color;
}


// ====== Big text! ======

h6, .h6 {
  font-size: 1.1rem;
}
h5, .h5 {
  font-size: 1.25rem;
}
h4, .h4 {
  font-size: 1.5rem;
}
h3, .h3 {
  font-size: 1.75rem;
}
h2, .h2 {
  font-size: 2rem;
}
h1, .h1 {
  font-size: 2.5rem;
}

// ====== Text manipulation ======
.text-thin {
  font-weight: lighter;
}
.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: bolder;
}
.text-muted {
  color: $muted;
}
.text-space-1{
  letter-spacing: 1px;
}
.text-underline {
  text-decoration: underline;
}
.text-strikethrough{
  text-decoration: line-through;
}
.text-size-1{
  font-size: 1rem;
}
.text-size-2{
  font-size: 1.25rem;
}
.text-size-3{
  font-size: 1.5rem
}
.text-size-4{
  font-size: 1.75rem;
}
.text-size-5{
  font-size: 2rem;
}
// ====== Text Color ======

.text-light {
  color: $off-white;
}
.text-dark {
  color: $charcoal;
}
.text-primary {
  color: $primary-color;
}
.text-red {
  color: $red
}
// ====== display  ======

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col, .col-auto {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  max-width: none;
}

.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.align-self-center{
  align-self: center;
}

// ====== border ======
.border {
  border-style: solid;
  border-width: 2px;
}
.border-bottom{
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.border-top{
  border-top-style: solid;
  border-top-width: 2px;
}
.border-left{
  border-left-style: solid;
  border-left-width: 2px;
}
.border-{
  border-right-style: solid;
  border-right-width: 2px;
}


// ====== Rounded ======
.rounded-sm {
  border-radius: .25rem;
}
.rounded{
  border-radius: .5rem;
}
.rounded-lg{
  border-radius: 1rem;
}
.rounded-pill{
  border-radius: 50%;
}
.rounded-circle{
  border-radius: 100%;
}

// ====== BG Color ======

.bg-dark{
  background-color: $charcoal;
}
.bg-light{
  background-color: $off-white;
}
.bg-transparent {
  background-color: transparent;
}

// ====== Stars ======
.star-25, .star-50, .star-75, .star-100, .star-empty {
  background-repeat: none;
  background-position: center;
  background-size: cover;
  outline: 0;
  border: 0;
  stroke: transparent;
  width: 1.25em;
  height: 1.25em;
}
.star-empty{
  background-image: url('../Assets/NoStar.svg');
}
.star-25{
  background-image: url('../Assets/Quarter-Star.svg');
}
.star-50{
  background-image: url('../Assets/Half-star.svg');
}
.star-75{
  background-image: url('../Assets/ThreeFourth-star.svg');
}
.star-100{
  background-image: url('../Assets/Full-star.svg');
}
.star-muted{
  filter: opacity(80%);
}
// ====== Styles Component Constraint ======
.overview-right-dekstop{
  max-width: 20rem;
}
// ====== Overview Final Select ======

.select-size{
  width: 10rem;
  height: 3rem;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

// ====== Styles Icons ======
.styles-wrapper{
  display: flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
  flex-grow: 0;
  flex-basis: 23%;
  flex-shrink: 1;
  justify-content: space-around;
  overflow: hidden;
  &:hover{
    >.styles-icon{
      transition: all .2s ease-in-out;
      filter: brightness(125%);
      box-shadow: .1rem .1rem .4rem .1rem rgba(0,0,0,.3);
    }
    >.styles-pop {
      &::after {
        transition: all .2s ease-in-out;
        opacity: 100%;
        left: 80%;
        top: -10%;
      }
    }
  }
  &:active{
    >.styles-icon{
      filter: brightness(90%);
      box-shadow: .1rem .05rem .2rem .1rem rgba(0,0,0,.4);
    }
  }
}

.styles-pop {
  &::after {
    transition: all .2s ease-in-out;
    opacity: 0;
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 200%;
    top: 0%;
  }
}
.styles-icon{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  transition: all .2s ease-in-out;
  position: relative;
};
.styles-selected{
  border-color: $primary-color;
  position: relative;
  &::after{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    color: $primary-color;
    background-clip: padding-box;
    border-radius: 100%;
    font-size: 1.2rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 75%;
    top: -15%;
  }
}

// ====== Socials ======
.social-icon{
  width: 2.1rem;
  height: 2.2rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.fb-bg-color{
  background-color: $fb-color;
}
.fb-text-color {
  color: $fb-color;
}
.twtr-bg-color{
  background-color: $twtr-color;
}
.twtr-text-color {
  color: $twtr-color;
}
.pins-bg-color{
  background-color: $pins-color;
}
.pins-text-color {
  color: $pins-color;
}


// ====== Spacings ======
.m-auto{
  margin: auto;
}
.mr-auto, .mx-auto{
  margin-right: auto;
}
.ml-auto, .mx-auto{
  margin-left: auto;
}
.mt-auto, .my-auto{
  margin-top: auto;
}
.mb-auto, .my-auto{
  margin-bottom: auto;
}

.m-1 {
  margin: .25rem;
}
.mr-1, .mx-1 {
  margin-right: .25rem;
}
.ml-1, .mx-1 {
  margin-left: .25rem;
}
.mt-1, .my-1 {
  margin-top: .25rem;
}
.mb-1, .my-1 {
  margin-bottom: .25rem;
}

.mr-5, .mx-5 {
  margin-right: 2.25rem;
}
.ml-5, .mx-5 {
  margin-left: 2.25rem;
}

.pl-1 {
  padding: .25rem;
}
.pl-4 {
  padding-left: 1rem;
}

// ====== Button ======

.btn {
  transition: all .15s ease-in-out;
  &:hover{
    filter: brightness(125%);
  }
  &:active {
    filter: brightness(80%);
  }
}

.shadow-sm{
  box-shadow: .1rem .1rem .1rem 0rem rgba(0,0,0,.3);

  &.btn:hover {
    box-shadow: .1rem .15rem .2rem .1rem rgba(0,0,0,.3);
  }
  &.btn:active {
    box-shadow: .05rem .05rem .1rem .05rem rgba(0,0,0,.3);
  }
}

.shadow {
  box-shadow: .1rem .125rem .5rem .2rem rgba(0,0,0,.3);
  &.btn:hover {
    box-shadow: .1rem .125rem .4rem .2rem rgba(0,0,0,.4);
  }
  &.btn:active {
    box-shadow: .1rem .1rem .4rem .2rem rgba(0,0,0,.2);
  }
}

// ====== MISC ======
.no-clicker{
  pointer-events: none;
}
.cursor-pointer {
  cursor: pointer;
}

.bar {
  position: relative;
  width: 3px;
  background-color: $muted;
 height: 100%;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.hover-outline {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-color: $charcoal;
    left: 0;
    right: 0;
    top: 1em;
    bottom: 0;
    height: 1px;
    width: 0%;
    transition: all .2s ease-in-out;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.hover-outline-cascade {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    background-color: $charcoal;
    left: 0;
    right: 0;
    top: 5em;
    bottom: 0;
    height: 1px;
    width: 60%;
    transition: all .2s ease-in-out;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $muted;
    left: 0;
    right: 0;
    top: 5em;
    bottom: 0;
    height: 1px;
    width: 0%;
    transition: all .3s ease-in-out;
  }
  &:hover {
    &::after {
      width: 100%;
      top: 1em;
    }
    &::before {
      width: 100%;
      top: 1.2em
    }
  }
}