version: 2.1
orbs:
  node: circleci/node@2.1.1
jobs:
  install-node-12:
    docker:
      - image: "cimg/base:2020.05"
    steps:
      - checkout
      - node/install:
          install-npm: false
          node-version: 12.16.2
      - node/install-yarn:
          version: 1.22.4
      - run: node --version
      - run: yarn
workflows:
  install-n:
    jobs:
      - install-node-12